@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

*{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body{
    
    background-color: #026873;
    height: 100vh;
}

main{
    background-color: white;
    width: 100vw;
    margin: auto;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 5px 5px 15px black;
}

h1{
    text-align: center;
    background-color: #03A64A;
    border-radius: 10px;
}
h2{
    color: #03A64A;
    font-family: 'Roboto', sans-serif;
}

img {
    width: 100%;
    
}
.div_master{
    padding: 10px 10px;
    display: grid;
    width: 95vw;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 20px;
    align-items: center;
    vertical-align: middle;
}

.div_filha {
    
    height: 250px;
    padding-top: 30px;
    box-shadow: 2px 2px 2px black;
    min-width: 100px;
    max-width: 1fr;
    min-height: 100px;
    max-height: 1fr;
    vertical-align: middle;
}


a{
    text-decoration: none;
    color: #03A64A;
}

a:hover{
    color: blue;
    text-decoration: underline;
}