@charset "UTF-8";

body{
    margin: 0px;
    padding: 0px;
    max-width: 100%;
    overflow-x: hidden;
    height: auto;

}

.card {
    width: 400px;
    height: 480px;
    margin: auto;
    margin-top: 20vh;
}

/*MEDIA QUERIES*/
@media (max-width: 360px) {
    .smarthphones1 {
      width: 90%;
    }
}

@media (min-width: 412px) {
    .smarthphones2 {
      width: 90%;
    }
}

@media (min-width: 768px) {
    .tela1 {
      width: 90%;
    }
}

@media (min-width: 1024px){
    .tela2 {
        width: 60%;
    }
}

@media (min-width: 1280px){
    .tela3 {
        width: 60%;
    }
}
