body{
    margin: 0px;
    padding: 0px;
    max-width: 100vw;
    overflow-x: hidden;
    font-family: Helvetica;
}

.card{
    background-color: white;
    margin: auto;
    margin-top: 60px;
}

@media (max-width: 360px) {
    .smarthphones1 {
      width: 90%;
    }
}

@media (min-width: 412px) {
    .smarthphones2 {
      width: 90%;
    }
}

@media (min-width: 768px) {
    .tela1 {
      width: 90%;
    }
}

@media (min-width: 1024px){
    .tela2 {
        width: 60%;
    }
}

@media (min-width: 1280px){
    .tela3 {
        width: 60%;
    }
}

h2{
    font-weight: bold;
}

label{
    font-weight: bold;
    margin-top: 10px;
}

#valor_gorjeta, #valor_total{
    text-align: right;
}