@charset "UTF-8";

body{
    margin: 0px;
    padding: 0px;
    max-width: 100%;
    overflow-x: hidden;
    height: auto;

}

.card {
    width: 400px;
    height: 480px;
    margin: auto;
    margin-top: 20vh;
}